[Unit]
Description=Schedule SRV Control Center Minecraft automatic updates

[Timer]
OnBootSec=20min
OnUnitActiveSec=6h
RandomizedDelaySec=15min
AccuracySec=5min
Persistent=true
Unit=srv-control-minecraft-auto-update.service

[Install]
WantedBy=timers.target
