[Unit]
Description=SRV Control Center automatic OS/package update schedule

[Timer]
OnBootSec=10min
OnUnitActiveSec=24h
Persistent=true
AccuracySec=5min
Unit=srv-control-os-auto-update.service

[Install]
WantedBy=timers.target
