[Unit]
Description=SRV Control Center automatic Minecraft Bedrock updates
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/srv-control-minecraft-auto-update
User=root
Group=root
UMask=0027
Nice=10
PrivateTmp=true
ProtectHome=true
ProtectSystem=false
