[Unit]
Description=Control Center Minecraft Bedrock canonical update schedule

[Timer]
OnBootSec=15min
OnUnitInactiveSec=6h
RandomizedDelaySec=10min
AccuracySec=1min
Persistent=true
Unit=srv-control-minecraft-bedrock-update.service

[Install]
WantedBy=timers.target
