[Unit]
Description=SRV Control Center AdGuard VPN status monitor
After=network-online.target
Wants=network-online.target
ConditionPathExists=/usr/local/libexec/srv-control-adguard-monitor

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/srv-control-adguard-monitor
User=root
Group=root
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
